<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Munnar</string>
		<key>Subs</key>
		<string>South India&apos;s largest tea-growing region</string>
		<key>Background</key>
		<string>Inspiration-02</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Srinagar &amp; the Kashmir Valley</string>
		<key>Subs</key>
		<string>is the mirror to the mountains</string>
		<key>Background</key>
		<string>Inspiration-03</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Kerala</string>
		<key>Subs</key>
		<string>is a tropical symphony</string>
		<key>Background</key>
		<string>Inspiration-05</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Hampi</string>
		<key>Subs</key>
		<string>is a fantasy world of rocks and ruins</string>
		<key>Background</key>
		<string>Inspiration-06</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Ooty</string>
		<key>Subs</key>
		<string>Udhagamandalam</string>
		<key>Background</key>
		<string>Inspiration-07</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Kodaikanal</string>
		<key>Subs</key>
		<string>Kodai is the ‘Princess of Hill Stations’</string>
		<key>Background</key>
		<string>Inspiration-08</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Ajanta</string>
		<key>Subs</key>
		<string>UNESCO World Heritage Site</string>
		<key>Background</key>
		<string>Inspiration-09</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Ellora</string>
		<key>Subs</key>
		<string>UNESCO World Heritage Site</string>
		<key>Background</key>
		<string>Inspiration-10</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Agra</string>
		<key>Subs</key>
		<string>is the majesty of the Taj</string>
		<key>Background</key>
		<string>Inspiration-11</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Goa</string>
		<key>Subs</key>
		<string>is sun, sand and spices</string>
		<key>Background</key>
		<string>Inspiration-12</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Lakshadweep</string>
		<key>Subs</key>
		<string>white-sand-skirted coral islands</string>
		<key>Background</key>
		<string>Inspiration-01</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rajasthan</string>
		<key>Subs</key>
		<string>is a ride on the sands of time</string>
		<key>Background</key>
		<string>Inspiration-13</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Pokhara</string>
		<key>Subs</key>
		<string>is a mirror to the Himalaya</string>
		<key>Background</key>
		<string>Inspiration-14</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Ladakh</string>
		<key>Subs</key>
		<string>Bounded by the Karakoram and Himalayan mountains</string>
		<key>Background</key>
		<string>Inspiration-15</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Bagan</string>
		<key>Subs</key>
		<string>One of Myanmar’s main attractions</string>
		<key>Background</key>
		<string>Inspiration-16</string>
	</dict>
</array>
</plist>
