<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Image</key>
		<string>story_image_1</string>
		<key>CommentCount</key>
		<string>71</string>
		<key>LikeCount</key>
		<string>24</string>
		<key>Subs</key>
		<string>Our 45 days in Kashmir took us to some remote, unseen and unknown parts of the Kashmir valley. Yet, the instant image that comes to mind with the word “Kashmir” is from my first visit to the valley, as a kid – standing enthralled at the top of the terraces of the Mughal gardens.

The crowded Mughal gardens of Srinagar – Chashmeshahi, Shalimar and Nishat, left us wanting for more. We decided to explore the lesser known parts of Kashmir. We headed south and started our exploration with Kokernag.

Verinag is the source of Kashmir’s lifeline – the river Jhelum. At the southern end of the Kashmir valley, on a clear day, you can even see the Jawahar tunnel – the start of the Kashmir valley, around 7km away, from some spots in the Verinag Mughal garden.

A short walk ahead of the Mughal garden at Achabal is a place called Nagdandi. There is a Vivekanand Ashram here. One of their activities at this ashram is a yoga practitioner’s course. We had gone to the Nagdandi ashram just to have a look. On our way we met these kids, Rohit and Owais. These two friends were busy with their games.

You can stay at all three places, Kokernag, Achabal and Verinag. They all have tourist bungalows run by the Jammu and Kashmir Tourism Department. These tourist bungalows are perfectly located – either within or just outside the Mughal gardens.
For its central location and proximity to Anantnag, we chose to stay in Achabal.

Anantnag, experience the “real” city of Kashmir

Think of a big city near where you live. Now think of a smaller city close to it, almost like a suburb. Now think of peak hours, traffic and people leaving for work.

We usually associate Kashmir only with a beautiful holiday. Almost forgetting that the people of Kashmir lead normal lives in Kashmir, just like we do back home. They all head to central Srinagar (big city) for work in the morning. Head back to their homes (in smaller cities like Anantnag) in the evening. This makes the road connecting Srinagar to Anantnag susceptible to “peak traffic hours”.

The solution? Like always, take the train! It might be crowded and a seat might be hard to find. But with lush green paddy fields and poplar trees for views, you won’t be complaining standing at the door.

Walking around the markets of Anantnag also gives a glimpse into the real life of the local people. Unlike the hustle of the tourist markets of Srinagar, shops here cater to the everyday needs of the people.
People are busy discussing copper prices to decide which boiler to invest in for this winter.

Luckily, some local tourists were also around. They educated us about this grass, and told us the sting would mellow down soon. If we couldn’t bear the sting till then, nature had a solution. The antidote to this grass always grows right next to it!

Our visit to the Aharbal waterfalls gave us a first hand experience of the fickle weather of the Himalayan mountains. It had been dark and gloomy when we reached the meadows around the Aharbal waterfalls. By the time we were on the walkway to the waterfalls, it had become bright and sunny!</string>
		<key>Title</key>
		<string>South Kashmir circuit: Non &quot;touristy&quot; fit for all travelers</string>
		<key>Time</key>
		<string>April 5, 2016</string>
		<key>UserName</key>
		<string>Sandeepa Chetan</string>
		<key>UserImage</key>
		<string>story_user1</string>
	</dict>
	<dict>
		<key>Image</key>
		<string>story_image_2</string>
		<key>CommentCount</key>
		<string>192</string>
		<key>LikeCount</key>
		<string>36</string>
		<key>Subs</key>
		<string>I was in Kashmir with my family for three days on a holiday earlier this month. On our return, there was so much interest from friends in knowing details about the trip – most who spoke to us had never been to Kashmir, a few were there many years ago, before the militancy problem emerged – that I thought it worth writing a blog about our impressions.

Movies, poets and storytellers have shown and described the splendour of Kashmir in ways I can never hope to do. Let me just say that it’s one of the most outstandingly beautiful places I have seen on Earth. We were in Srinagar, Gulmarg and Pahalgam. The last two offer positively stunning views. Gulmarg had snow, and Pahalgam offers an unforgettable horse ride up a fairly steep mountainside, that leads to a magnificent meadow ringed by trees and snow-capped peaks.

Srinagar’s Dal Lake, houseboats, shikaras and gardens are an absolute treat, made nicer by the politeness and friendliness of the locals. As you go around Dal Lake on a shikara, you come across other shikaras from who you can buy stuff like seekh kababs and rotis, or you could go to a houseboat that sells Kashmiri textiles and artifacts.

We stayed two nights in a houseboat. It was one of the older houseboats, with fairly basic, but comfortable rooms. The owner was a delightfully pleasant old man. We were told there are more luxurious houseboats available at higher tariffs.

We could not go to Ladakh, which is 250 km from Srinagar, but that would be another must-see place if you have the time and willingness to spend. As many who have seen 3 Idiots would know, the spectacular lake in the final scene is in Ladakh.
An army officer who we met in Udhampur in Jammu said the most beautiful place that he had seen in Kashmir was along the new road passing over the Pir Panjal mountain range. “It puts Gulmarg to shame,” he said.

This road, used extensively by the Mughals and therefore also called Mughal Road, remained abandoned after 1947, but the Indian government has been reconstructing the road since 2005. Since 2010, it has hosted some motor rallies, and is expected soon to be opened for public use.</string>
		<key>Title</key>
		<string>My trip to Kashmir</string>
		<key>Time</key>
		<string>November 22, 2012</string>
		<key>UserName</key>
		<string>Chintan Doshi</string>
		<key>UserImage</key>
		<string>story_user2</string>
	</dict>
</array>
</plist>
